.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header__left{
    display: flex;
}

.header__right{
    display: flex;
    padding-right: 20px;
}