.header{
    display: flex;
    border-bottom: 1px solid whitesmoke;
   
    justify-content: space-between;
}

.header__left{
    /* display: flex; */
}

.header__right{
    /* display: flex;
    justify-content: flex-end; */
}

.header__middle{
    display: flex;
    margin: 10px 80px;
}